.header {
  margin-right: 54px;
}

.trainingGuide {
  margin-top: 40px;
}

.videoContainer {
  border: 5px #fff;
  border-radius: 45px !important;
}

.scrollDown {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 46px;
  bottom: 100px;
  z-index: 999;
}

.scrollDown:hover {
  background-color: #0056b3;
}

.scrollDown i {
  font-size: 24px;
}

.scrollUp {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 46px;
  bottom: 160px;
  z-index: 999;
}

.scrollUp:hover {
  background-color: #0056b3;
}

.scrollUp i {
  font-size: 24px;
}

.vbtn {
  margin-bottom: 20px !important;
  display: inline-block;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.homepage {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button,
.signup-button {
  display: inline-block;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover,
.signup-button:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature i {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 10px;
}

.feature h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.feature p {
  font-size: 1rem;
  color: #666;
  max-width: 200px;
  margin: 0 auto;
}

.whyChooseUs {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.bullet {
  font-weight: bold;
  font-size: 18px;
  color: #00a1e1;
  margin-right: 10px;
}

.whyChooseUs h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.whyChooseUs p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 30px;
}

.featuredDestinations {
  padding: 20px;
  text-align: center;
}

.featuredDestinations h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.featuredDestinations p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 30px;
}

.customeReviews {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.customeReviews h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.customeReviews p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 30px;
}

.footer {
  background-color: #1a63b1;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer p {
  font-size: 1rem;
  margin: 0;
}

.reviewCard {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.reviewContent {
  flex: 1;
  text-align: left;
}

.reviewText {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.reviewAuthor {
  font-size: 1rem;
  color: #666;
}

.featuredDestinations {
  padding: 40px 0;
  background-color: #f5f5f5;
  text-align: center;
}

.featuredDestinations h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.featuredDestinations p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.destinationCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.destinationCard {
  flex: 0 1 calc(33.33% - 20px);
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.destinationCard img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.destinationCard h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.destinationCard p {
  font-size: 1rem;
  color: #666;
  max-width: 300px;
  margin: 0 auto;
}

.boxedParagraphs {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.boxedParagraphs p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-support {
  margin-top: 10px;
}

.contact-support p {
  font-weight: bold;
}

.contact-support a {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

  .scrollDown {
    visibility: hidden;
  }

  .scrollUp {
    visibility: hidden;

  }

  .header {
    right: 0;
  }

  .trainingGuide {
    margin-top: 20px;
  }

  .videoContainer {
    border-radius: 0 !important;
  }

  .vbtn {
    margin-bottom: 10px !important;
    font-size: 0.9rem;
  }

  .page {
    height: auto;
  }

  .homepage {
    padding: 10px;
  width: 100% ;

  }

  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .description {
    font-size: 1rem;
    margin: 0 auto 20px;
  }

  .buttons {
    flex-direction: column;
  }

  .login-button,
  .signup-button {
    margin: 10px 0;
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    padding: 10px;
  }

  .feature i {
    font-size: 1.5rem;
  }

  .feature h2 {
    font-size: 1.2rem;
    margin: 5px 0;
  }

  .feature p {
    font-size: 0.9rem;
    max-width: 150px;
  }

  .whyChooseUs h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .whyChooseUs p {
    font-size: 0.9rem;
    margin: 0 auto 20px;
  }

  .featuredDestinations h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .featuredDestinations p {
    font-size: 1rem;
    margin: 0 auto 20px;
  }

  .reviewCard {
    flex-direction: column;
  }

  .reviewAvatar {
    width: 60px;
    height: 60px;
    margin-right: 0;
  }

  .reviewText {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .reviewAuthor {
    font-size: 0.9rem;
  }


  .featuredDestinations {
    padding: 20px 0;
  }

  .featuredDestinations h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .featuredDestinations p {
    font-size: 1rem;
    margin: 0 auto 20px;
  }

  .homepage {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
  }

  .destinationCard {
    flex: 0 1 calc(50% - 20px);
    margin: 0 5px;
    padding: 10px;
  }
}