/* .homePageDiv {
  height: 100vh;
}

.flexedContent{
  display: flex;
}
.leftSideList {
  width: 30rem;
  min-height: 27rem;
  color: #fff;
  padding: 10px;
  overflow-y: auto;
}

.rightSideContainer {
  min-width: 50rem;
  padding: 10px;
} */