.chatBox {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow-x: hidden;
  max-width: 50rem;
  min-height: 22rem;
  margin: 20px auto;
}

.chatHistory {
  max-height: 300px;
  min-height: 22rem;
  overflow-y: auto;
  padding: 10px;
}

.messageBubble {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  word-wrap: break-word;
}

.sentMessage {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
}

.receivedMessage {
  background-color: #f2f2f2;
  color: #333;
}

.inputBox {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.inputTextSend {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttonSend {
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}