@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  overflow: hidden;
}
/* 

.logoImage {
  cursor: pointer;
  width: 100px;
  height: 50px;
  color: white;
  transition: transform 0.2s, filter 0.2s, ;
  filter: brightness(1500);
  left: 0 !important;


}

.logoImage:hover {
  filter: brightness(1500);
  transform: scale(1.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #113990;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.navbarBrand {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.navLinks {
  list-style: none;
  display: flex;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarBrand {
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  max-height: 100px;

}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.chatbotButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 400px;
  padding: 4px;
}

.topFn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;


}

.support {
  display: none;
}

.supportIcon,
.githubIcon {
  position: relative;
  top: 5px;
  margin-right: 12px;
  margin-left: 10px;
  aspect-ratio: 2/3;

}

.logoutButton:hover {
  text-decoration: underline;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #007bff;
  transform-origin: 0%;
  z-index: 10;
}

.pageContent {
  width: 100vw;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.routeLink {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.routeLink:last-child {
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #113990;
}




@media screen and (max-width: 588px) {
  .navbar {
    min-width: 100%;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

  }

  .support {
    display: contents;
  }

  .logoutButton {
    display: none;
  }


  .pageContent {
    margin-top: 15%;
    width: 100%;
    margin-left: 19%;

  }

  video {
    max-width: 100%;
    height: auto;
  }
} */
